.App .App-header {
  text-align: center;
  background-color: #151950;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 30px;
}

.App-header {
  background-color: #151950;
}

.App {
  background-color: #4d4d4d;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.gridContainer {
  padding: 15px;
}